requests
beautifulsoup4
pandas
python-docx
pillow
pytesseract
pdfminer2
nltk
matplotlib
wordcloud
numpy
scipy
seaborn
scikit-learn
gensim
pyanno3
graphviz
igraph
pysoundfile
speechrecognition
pydub
scikit-image
ipython
